<mat-toolbar class="top-navigation__container" fxLayoutAlign="space-between center" fxLayoutGap="12px">
  <div class="top-navigation__search" fxLayoutAlign="start center" fxLayoutGap="12px">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="top-navigation__search-box">
      <input class="top-navigation__search-input" type="search" placeholder="Pretraži">
      <mat-icon class="top-navigation__search-input">search</mat-icon>
    </div>
  </div>
  <div class="top-navigation_nav" fxLayoutAlign="end center" fxLayoutGap.gt-xs="8px">
    <a mat-icon-button><mat-icon matBadge="5" matBadgeColor="warn">notifications</mat-icon></a>
    <a mat-icon-button><mat-icon>settings</mat-icon></a>
    <div class="top-navigation__initials" fxLayoutAlign="center center">
      <p>{{ (user | async)?.displayName | firstLetter}}</p>
    </div>
    <a mat-button *ngIf="!isMobile" class="top-navigation__display-name">{{ (user | async)?.displayName }}</a>
    <a mat-icon-button class="top-navigation__logout" (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
    </a>
  </div>
</mat-toolbar>
