<!-- <button mat-button (click)="onLogin()">My button</button>
<div *ngIf="!!(isAuthenicated$ | async)">is authenicated</div>
<div *ngIf="!(isAuthenicated$ | async)">not authenicated</div> -->
<div class="form__container" fxFlexFill fxLayoutAlign="center center">
  <mat-card class="form__box" fxLayout="column">
    <mat-card-title class="form__logo">Cassorg</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" fxLayout="column" fxFlexFill fxLayoutGap="12px" class="form__login">
        <mat-form-field floatLabel="always">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
          <button type="button" matSuffix mat-icon-button [disabled]="!password.value" (click)="showPassword = !showPassword" [title]="showPassword ? 'Hide password' : 'Show password'">
            <mat-icon class="password-icon" [svgIcon]="showPassword ? 'eye-off' : 'eye'" aria-hidden="true"></mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid" class="form__submitBtn">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
