<mat-card class="auth__card mat-elevation-z14" fxLayout="column">
  <mat-card-title class="auth__title">
    <h2 class="auth__title-text">Prijava</h2>
    <span class="auth__title-underline"></span>
  </mat-card-title>
  <mat-card-content class="auth__card__content">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" fxLayout="column" fxFlexFill fxLayoutGap="12px" class="auth__form__container">
      <mat-form-field floatLabel="always">
        <input class="auth__form__input" matInput type="email" placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        <mat-icon class="auth__form__icon" svgIcon="email" matSuffix aria-hidden="true"></mat-icon>
      </mat-form-field>
      <mat-form-field floatLabel="always">
        <input class="auth__form__input" matInput [type]="showPassword ? 'text' : 'password'" placeholder="Lozinka" formControlName="password"
          required>
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        <button type="button" matSuffix mat-icon-button class="auth__form__icon-button" [disabled]="!password.value" (click)="showPassword = !showPassword"
          [title]="showPassword ? 'Hide password' : 'Show password'">
          <mat-icon class="auth__form__icon" [svgIcon]="showPassword ? 'eye-off' : 'eye'" aria-hidden="true"></mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid" class="auth__form__submit-button">
        Prijavi se
      </button>
      <div [ngClass]="{'showError': !!(errorMessage | async)}" class="auth__form__error_message" fxLayoutAlign="start center">
        <mat-icon>warning</mat-icon>
        {{(errorMessage | async)}}
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="auth__form__actions">
    <span>Nemate račun?</span>
    <a (click)="goToRegister()">Registrirajte se</a>
  </mat-card-actions>
</mat-card>
