<section class="o-section">
  <app-header-basic [title]="'Početna'" class="c-header-basic"></app-header-basic>

  <div class="o-section__content">
    <article class="c-recents">
      <header class="c-recents__header">
        <h4 class="c-recents__title">Aktivnosti</h4>
        <button class="o-button o-button--outline">
          <mat-icon class="o-button__icon">add</mat-icon>
          <span class="o-button__text o-button__text--uppercase">Dodaj</span>
        </button>
      </header>

      <div class="o-scroll-x">
        <div class="o-scroll-x__content">
          <div *ngFor="let activity of activities$ | async; let i = index" class="c-recents__item">
            {{ activity.title }}
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
