@import '~_variables.scss';

:host {
  display: flex;
}

.content-wrapper {
  padding: 0 16px;
  height: 100%;
  width: 100%;
}

.dashboard {
  &__title {
    color: #565656;
    margin: 0;
    padding: 16px 12px 8px;
    font-size: 20px;
  }

  &__card-list {
    margin-bottom: 12px;
  }

  &__card {
    margin: 8px !important;

    & > h3 {
      color: white;
      font-size: 1.4em;
      margin-bottom: 12px;
      font-weight: 500;
    }
    & > p {
      font-size: 0.8em;
      white-space: nowrap;
      overflow: hidden;
      margin: 0;
      display: block;
      text-overflow: ellipsis;
      color: rgba($color: #ffffff, $alpha: 0.8);
    }
    &-title {
      font-size: 16px;
      font-weight: 500;
    }
    &#card {
      &__members {
        background-color: map-get($theme-colors, blue-accent);
      }
      &__activities {
        background-color: map-get($theme-colors, success);
      }
      &__income {
        background-color: map-get($theme-colors, warning);
      }
    }
    &-button {
      width: 100%;
      color: map-get($theme-colors, light-dark);
      background-color: #fff;
      transition: color 0.3s ease;
      &:hover {
        color: map-get($theme-colors, dark);
      }
    }
  }

  &__card-content {
    /* width: calc(100% + 48px); */
    margin: 0 -24px 16px -24px;
  }
}
