// -----------------------------------------------
//    NAMESPACE - settings for naming convention
// -----------------------------------------------
$e: e-; // elements
$o: o-; // objects
$c: c-; // components
$u: u-; // utilities
