<div class="subheader__container" fxLayoutAlign="space-between stretch">
  <div class="subheader__content" fxLayoutAlign="start center" fxLayoutGap="12px">
    <a *ngIf="!!showBackButton" mat-icon-button class="subheader__go_back" (click)="location.back()">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <div class="subheader__text" fxLayout="column" fxLayoutAlign="center stretch">
      <h2 class="subheader__title">{{ title }}</h2>
      <p *ngIf="!!subtitle" class="subheader__subtitle">{{ subtitle }}</p>
    </div>
  </div>
  <div *ngIf="!!actionText || !!showSort || !!actionIcon" class="subheader__actions" fxLayoutGap="16px" fxLayoutAlign="end center">
    <button *ngIf="!!showSort" mat-icon-button class="subheader__filter" [matMenuTriggerFor]="sortMenu">
      <mat-icon>filter_list</mat-icon>
    </button>
    <a *ngIf="!!actionText" (click)="onAction()" class="subheader__action-button" mat-raised-button fxHide.xs>
      {{ actionText }}
    </a>
    <a mat-icon-button *ngIf="!!actionIcon" (click)="onAction()" class="subheader__action-icon" mat-raised-button
      fxHide.gt-xs fxLayoutAlign="center center">
      <div class="subheade__action-icon-box" fxLayoutAlign="center center">
        <mat-icon>{{ actionIcon }}</mat-icon>
      </div>
    </a>
  </div>
</div>

<mat-menu #sortMenu="matMenu">
  <button mat-menu-item *ngFor="let sort of sortValues" (click)="onSortChange({name: sort?.value, order: sort?.direction})">
    <div class="subheader__menu" fxLayoutAlign="space-between center">
      <p class="subheader__menu-title">{{sort?.title}}</p>
      <span *ngIf="!!sort?.subtitle" class="subheader__menu-subtitle">({{sort?.subtitle}})</span>
    </div>
  </button>
</mat-menu>
