@import '~_variables.scss';

.subheader {
  &__container {
    padding: 16px 0;
    margin-bottom: 8px;
  }
  &__content {
    padding-left: 4px;
    width: 100%;
  }
  &__go_back {
    text-decoration: none;
    color: #91979b;
    transition: color 0.3s;
    margin-left: -12px !important;
    &:hover {
      color: #777;
    }
  }
  &__text {
    overflow: hidden;
  }
  &__title {
    color: color(text-08);
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__subtitle {
    color: color(text-05);
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }
  &__actions {
    padding-right: 4px;
  }
  &__action-button {
    border-radius: 20px !important;
    padding: 0 20px !important;
    border: 1px solid color(red-primary) !important;
    background-color: color(red-primary);
    color: white;
    &.outline {
      color: color(red-primary);
      background-color: white;
    }
  }
  &__action-icon {
    background-color: color(red-primary);
    color: white;
  }
  &__filter,
  &__list-length {
    color: white;
    background-color: rgba($color: #91979b, $alpha: 0.5);
  }
  &__menu {
    &-title {
      color: color(text-08);
    }
    &-subtitle {
      color: color(text-05);
      font-size: 14px;
      padding-left: 12px;
    }
  }
}
