@import '~_variables.scss';

:host {
  width: 100%;
}

.group-list {
  &__table {
    border-radius: 2px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 5px 5px -3px rgba($color: #333333, $alpha: 0.2),
      0 8px 10px 1px rgba($color: #333333, $alpha: 0.14),
      0 3px 14px 2px rgba($color: #333333, $alpha: 0.12);
  }
  &__data {
    border-top: 1px solid #ccc;
  }
  &__item {
    border-bottom: 1px solid #eee;
    border-radius: 0px;
    padding: 0;
    width: 100%;
    &:last-child {
      border-bottom: none;
    }
  }
  &__cell {
    padding: 0.7em 1.5em;
    line-height: 1.5em;
    &.header {
      padding: 0 1.2em;
    }
    &-title {
      color: color(text-08);
      font-size: 16px;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.header {
        color: color(text-05);
        text-transform: uppercase;
        font-size: 12px;
        margin: 0.8em 0;
      }
    }
    &-subtitle {
      font-size: 12px;
      font-weight: 500;
      color: color(text-05);
    }
    &-color {
      height: 28px;
      width: 28px;
      border-radius: 50%;
    }
  }
  &__empty {
    text-align: center;
    color: rgba($color: #333333, $alpha: 0.5);
  }
}
