@import '~_variables.scss';

.card-container {
  margin-top: 28px;
}

.card-header {
  margin: -40px -4px;
  background-color: #6a788f;
  color: white;
}

.img-block {
  max-width: 120px;
  max-height: 120px;
  margin: -50px auto 0;
  border-radius: 50%;
  z-index: 3;
  overflow: hidden;

  & img {
    width: 100%;
    height: auto;
  }

  & .no-image {
    background-color: #3f51b5;
    width: 120px;
    height: 120px;

    & > span {
      font-size: 44px;
      color: white;
      text-transform: uppercase;
    }
  }
}

.user {
  &__title {
    color: rgba(50, 50, 50, 0.5);
    font-weight: 600;
    position: relative;

    &::after {
      content: '';
      height: 3px;
      background-color: #ddd;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -12px;
    }
  }

  &__image {
    &_box {
      // padding: 36px 0;
      margin: -50px auto 0 !important;
      border-radius: 50%;
    }

    &_block {
      background-color: rgba(50, 50, 50, 0.5);
      border-radius: 50%;
      position: relative;
      width: 150px;
      height: 150px;
      max-width: 130px;
      max-height: 130px;
      margin: 0 auto;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: rgba(50, 50, 50, 0.6);
        cursor: pointer;
      }
    }

    &_block:hover > &_plus_sign > mat-icon.mat-icon {
      transform: scale(1.1);
    }

    &_plus_sign {
      height: 100%;

      & > mat-icon.mat-icon {
        @include mat-icon-size(80px);
        color: color(light);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &__personal_info {
    &_form {
      margin: 36px 0 0;
    }
  }
}
