<header class="c-top-nav__wrapper u-flex-x-center">
  <div class="o-icon__container u-margin-right--3x">
    <mat-icon class="o-icon">arrow_back</mat-icon>
  </div>
  <div class="c-top-nav__text u-flex-y u-flex-grow u-margin-right--3x">
    <h4 class="u-text-color--primary u-text-size--large u-margin--clear u-text--truncate">
      Naslov
    </h4>
    <small class="u-text-color--secondary u-text-size--small u-text--truncate">
      Podnaslov
    </small>
  </div>
  <div class="o-icon__container">
    <mat-icon class="o-icon">notifications</mat-icon>
  </div>
</header>
