// ---------------------------------------------------------------
//    FORM CLASS - default stylings for <form> and its elements
// ---------------------------------------------------------------
.#{$o}form {
  @include flex-box(column);
  @include spacing(padding, 4x 2x);
  background-color: theme-color(background);
}

.#{$o}form-group {
  @include flex-box(column);
  @include spacing(margin, 4x, bottom);
}

.#{$o}form-group-x {
  @include flex-box();
}

.#{$o}form-array {
  @include flex-box();
  @include spacing(padding, 2x 0);
  flex-wrap: wrap;
}

.#{$o}form-control {
  @include flex-box(column);
  @include spacing(padding, 0 2x);
  @include spacing(margin, 2x, bottom);
  position: relative;
}

.#{$o}form-control__label {
  @include font(small, normal, secondary);
  @include spacing(padding, 1x, left);
  @include spacing(margin, 1px, bottom);
  text-transform: uppercase;
}

.#{$o}form-control__input {
  @include border-radius();
  @include font(normal, normal, primary);
  @include spacing(padding, 2x 4x);
  @include placeholder {
    @include font(normal, light, primary);
  }

  &[type='file'] {
    display: none;
  }
}

.#{$o}form-control__file {
  @include border(2px dashed border-color(strong));
  @include border-radius();
  position: relative;
  background-color: theme-color(light);

  .clear {
    @include mat-icon(32px);
    @include flex-box($justify: center, $align: center);
    position: absolute;
    top: 0;
    right: 0;
    color: font-color(light);
    font-size: font-size(normal) !important;
    background: radial-gradient(
      circle,
      rgba(theme-color(dark), 0.6) 0%,
      rgba(theme-color(dark), 0.3) 30%,
      transparent 60%,
      transparent 100%
    );
  }
}

.#{$o}form-control__input--file {
  @include flex-box($justify: center, $align: center);
  height: 160px;
  background: center center no-repeat theme-color(light);
  background-size: cover;
  border: none;

  .#{$o}form-control__input-icon {
    @include mat-icon(50px);
    @include transform(translate(-50%, -50%));
    left: 50%;
  }
}

.#{$o}form-control__input-icon {
  @include mat-icon(spacing-name(5x));
  @include transform(translateY(-50%));
  position: absolute;
  right: spacing-name(5x);
  top: 50%;
  color: font-color(secondary);
}

.#{$o}form-control__error {
  @include font(small, light, theme);
  @include spacing(padding, 0 2px);
  @include spacing(margin, 1px, top);
  @include transition(opacity, visibility);
  opacity: 0;
  visibility: hidden;
}

.#{$o}form-control__error--active {
  opacity: 1;
  visibility: visible;
}
