// ---------------------------------------------------------------
//    FORM CLASS - default stylings for <form> and its elements
// ---------------------------------------------------------------
.#{$o}form {
  @include flex-box(column);
  @include spacing(padding, 4x 1x);
  background-color: theme-color(background);
}

.#{$o}form-group {
  @include flex-box(column);
  @include spacing(margin, 4x, bottom);
}

.#{$o}form-group-x {
  @include flex-box();
}

.#{$o}form-array {
  @include flex-box();
  @include spacing(padding, 2x 0);
  flex-wrap: wrap;
}

.#{$o}form-control {
  @include flex-box(column);
  @include spacing(padding, 0 2x);
  @include spacing(margin, 2x, bottom);
  position: relative;
}

.#{$o}form-control__label {
  @include font(small, normal, secondary);
  @include spacing(padding, 1x, left);
  @include spacing(margin, 1px, bottom);
  text-transform: uppercase;
}

.#{$o}form-control__input {
  @include border-radius();
  @include font(normal, normal, primary);
  @include spacing(padding, 2x 4x);
  @include placeholder {
    @include font(normal, light, primary);
  }
}

.#{$o}form-control__input-icon {
  @include mat-icon(spacing-name(5x));
  @include transform(translateY(-50%));
  position: absolute;
  right: spacing-name(5x);
  top: 50%;
  color: font-color(secondary);
}

.#{$o}form-control__error {
  @include font(small, light, theme);
  @include spacing(padding, 0 2px);
  @include spacing(margin, 1px, top);
  @include transition(opacity, visibility);
  opacity: 0;
  visibility: hidden;
}

.#{$o}form-control__error--active {
  opacity: 1;
  visibility: visible;
}
