@import '~_variables.scss';

.activity-form {
  &__container {
    padding: 1.2em 1em;
  }
  &__action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5em;
    padding-top: 1.5em;
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      justify-self: center;
      background-color: color(red-primary);
      color: white;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 20px;
      border: 1px solid color(red-primary);
      padding: 0px 28px;
      width: 100%;
      max-width: 150px;
      transition: all 0.3s;
      &.outline {
        background-color: white;
        color: color(red-primary);
      }
      &[disabled] {
        background-color: rgba($color: color(red-primary), $alpha: 0.8);
        border-color: rgba($color: color(red-primary), $alpha: 0.2);
      }
    }
  }
  &__group {
    &-color {
      width: 20px;
      min-width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    &-name {
      padding-left: 0.5em;
      color: color(text-08);
    }
    &-info {
      line-height: 1em;
      padding-left: 0.5em;
      & > span {
        color: color(text-08);
        line-height: 1.2em;
        font-size: 0.95em;
      }
      & > small {
        color: color(text-05);
        font-size: 12px;
      }
    }
  }
}
