<form [formGroup]="form" (ngSubmit)="onSubmit()" class="o-form">
  <div class="o-form-group">
    <!------------------- IMAGE ------------------->
    <div class="o-form-control">
      <label for="image" class="o-form-control__label">Slika</label>
      <app-file-image formControlName="image" class="o-form-control__file"></app-file-image>
      <span class="o-form-control__error">Error</span>
    </div>

    <!------------------- TITLE ------------------->
    <div class="o-form-control">
      <label for="title" class="o-form-control__label">Naslov</label>
      <input
        formControlName="title"
        type="text"
        id="title"
        placeholder="Kratki naslov"
        class="o-form-control__input"
        required
      />
      <span class="o-form-control__error">Error</span>
    </div>

    <!------------------- DESCRIPTION ------------------->
    <div class="o-form-control">
      <label for="description" class="o-form-control__label">Opis</label>
      <textarea
        #autosize="cdkTextareaAutosize"
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="5"
        (change)="triggerResize()"
        formControlName="description"
        id="description"
        placeholder="Opis događaja u par rečenica..."
        class="o-form-control__input"
        required
      ></textarea>
      <span class="o-form-control__error">Error</span>
    </div>

    <!------------------- DATETIMES ------------------->
    <div class="o-form-group-x" formGroupName="startDatetime">
      <div class="o-form-control u-flex-3">
        <label for="startDate" class="o-form-control__label">Datum početka</label>
        <input
          [matDatepicker]="startDate"
          (focus)="!startDate.opened ? startDate.open() : startDate.close()"
          formControlName="date"
          type="text"
          id="startDate"
          placeholder="04/11/2019"
          class="o-form-control__input"
          required
          readonly
        />
        <mat-icon class="o-form-control__input-icon">event</mat-icon>
        <span class="o-form-control__error">Error</span>
        <mat-datepicker touchUi #startDate></mat-datepicker>
      </div>
      <div class="o-form-control u-flex-2">
        <label for="startTime" class="o-form-control__label">Vrijeme početka</label>
        <input
          [matDatepicker]="startTime"
          (focus)="!startTime.opened ? startTime.open() : startTime.close()"
          formControlName="time"
          type="text"
          id="startTime"
          placeholder="17:00"
          class="o-form-control__input"
          required
          readonly
        />
        <mat-icon class="o-form-control__input-icon">access_time</mat-icon>
        <span class="o-form-control__error">Error</span>
        <mat-datepicker touchUi #startTime></mat-datepicker>
      </div>
    </div>
    <div class="o-form-group-x" formGroupName="endDatetime">
      <div class="o-form-control u-flex-3">
        <label for="endDate" class="o-form-control__label">Datum završetka</label>
        <input
          [matDatepicker]="endDate"
          (focus)="!endDate.opened ? endDate.open() : endDate.close()"
          formControlName="date"
          type="text"
          id="endDate"
          placeholder="05/11/2019"
          class="o-form-control__input"
          readonly
        />
        <mat-icon class="o-form-control__input-icon">event</mat-icon>
        <span class="o-form-control__error">Error</span>
        <mat-datepicker touchUi #endDate></mat-datepicker>
      </div>
      <div class="o-form-control u-flex-2">
        <label for="endTime" class="o-form-control__label">Vrijeme završetka</label>
        <input
          [matDatepicker]="endTime"
          (focus)="!endTime.opened ? endTime.open() : endTime.close()"
          formControlName="time"
          type="text"
          id="endTime"
          placeholder="19:00"
          class="o-form-control__input"
          readonly
        />
        <mat-icon class="o-form-control__input-icon">access_time</mat-icon>
        <span class="o-form-control__error">Error</span>
        <mat-datepicker touchUi #endTime></mat-datepicker>
      </div>
    </div>

    <!------------------- GROUPS ------------------->
    <div class="o-form-control">
      <label class="o-form-control__label">Odaberi grupe</label>
      <div formArrayName="groups" class="o-form-array">
        <div *ngFor="let group of groupArray.controls; let i = index">
          <input
            [formControlName]="i"
            type="checkbox"
            id="group-{{ i }}"
            class="c-group-checkbox"
          />
          <label for="group-{{ i }}" class="c-group-tag">
            <i [ngStyle]="{ 'background-color': groups[i].color }" class="c-group-tag__color"></i>
            <span class="c-group-tag__text">{{ groups[i].name }}</span>
          </label>
        </div>
      </div>
      <span class="o-form-control__error">Error</span>
    </div>
  </div>
</form>
