@import '~_variables.scss';

:host {
  width: 100%;
}

.empty-state {
  &__containter {
    padding: 24px;
  }

  &__wrapper {
    margin-top: -10%;
  }

  &__icon {
    color: map-get($theme-colors, subtitle);
    @include mat-icon-size(100px);
  }

  &__title {
    margin: 16px 0 8px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: map-get($theme-colors, subtitle);
  }

  &__message {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: map-get($theme-colors, light-dark);
  }

  &__button {
    margin: 6px;
  }
}
