@import '~_variables.scss';

:host {
  display: flex;
  width: 100%;
}
.member-groups {
  &__item {
    padding: 10px 20px 6px;
    font-size: 1em;
    border-top: 1px solid #f5f5f5;
    border-radius: 0;
    &:first-child {
      border-top: none;
    }
    &-text {
      overflow: hidden;
      & > small {
        color: color(text-05);
        font-size: 12px;
        line-height: 1.4em;
      }
      & > span {
        color: color(text-08);
        line-height: 1.2em;
        min-height: 24px;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-wrap: break-word;
      }
    }
    &-action {
      color: color(success-08);
      & > div {
        width: 28px;
        min-width: 28px;
        height: 28px;
        border-radius: 50%;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
      }
    }
  }
  &__empty {
    color: color(text-05);
    text-align: center;
  }
}
