@import '~_variables.scss';

.member-form {
  &__content {
    padding: 24px 16px;
  }
  &__image {
    position: relative;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    border: 1px solid #eee;
    background-color: #fafafa;
    margin-bottom: 28px;
    &-overlay {
      position: absolute;
      background-color: color(text-05);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      & > span {
        padding: 12px;
        text-align: center;
        color: #fafafa;
        font-size: 14px;
      }
    }
  }
  &__field {
    color: color(text-08);
    line-height: 1.2em;
  }
  &__action {
    border-top: 1px solid #eee;
    padding: 16px;
    &-button {
      background-color: color(red-primary);
      color: white;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 20px;
      border: 1px solid color(red-primary);
      padding: 0px 28px;
      width: 100%;
      max-width: 150px;
      transition: all 0.3s;
      &.outline {
        background-color: white;
        color: color(red-primary);
      }
      &[disabled] {
        background-color: rgba($color: color(red-primary), $alpha: 0.8);
        border-color: rgba($color: color(red-primary), $alpha: 0.2);
      }
    }
  }
}
