@import '~_variables.scss';

.member-form {
  &__content {
    padding: 24px 16px;
  }
  &__field {
    color: color(text-08);
    line-height: 1.2em;
  }
  &__action {
    border-top: 1px solid #eee;
    padding: 16px;
    &-button {
      background-color: color(red-primary);
      color: white;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 20px;
      border: 1px solid color(red-primary);
      padding: 0px 28px;
      width: 100%;
      max-width: 150px;
      transition: all 0.3s;
      &.outline {
        background-color: white;
        color: color(red-primary);
      }
      &[disabled] {
        background-color: rgba($color: color(red-primary), $alpha: 0.8);
        border-color: rgba($color: color(red-primary), $alpha: 0.2);
      }
    }
  }
  &__sibling, &__group {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: color(text-08);
    &-input:not(:last-child)::after {
      content: ',';
      margin-left: -4px;
    }
    &-text {
      font-size: 12px;
      color: color(text-05);
      padding-bottom: 2px;
    }
    &-option {
      padding-left: 8px;
    }
    &-initials {
      width: 32px;
      height: 32px;
      background-color: white;
      border-radius: 50%;
      border: 1px solid #ccc;
      overflow: hidden;
      & > span {
        line-height: 1em;
        font-size: 12px;
        color: #91979b;
      }
    }
    &-color {
        width: 20px;
        min-width: 20px;
        height: 20px;
        border-radius: 50%;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
      }
    &-info {
      line-height: 1em;
      padding-left: 12px;
      & > span {
        color: color(text-08);
        line-height: 1.2em;
        font-size: 0.95em;
      }
      & > small {
        color: color(text-05);
        font-size: 12px;
      }
    }
  }
}
