<article class="o-section__content">
  <cas-header-expanded
    [title]="member?.firstName + ' ' + member?.lastName"
    [imageUrl]="member?.photoURL"
    (back)="onBack()"
    class="c-header-expanded"
  ></cas-header-expanded>

  <app-member-info [member]="member" class="c-member-info"></app-member-info>

  <!-- <div *ngIf="!!member" class="member-profile__content">
    <div
      class="member-profile__content-wrapper"
      fxLayout="column"
      fxLayoutAlign="space-between stretch"
      fxLayoutGap="8px"
    ></div>
    <mat-tab-group dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon svgIcon="information-outline" aria-hidden="true"></mat-icon>
        </ng-template>
        <app-member-info [member]="member"></app-member-info>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon svgIcon="account-group" aria-hidden="true"></mat-icon>
        </ng-template>
        <div class="member-profile__groups" fxLayoutAlign="start center">
          <app-member-groups [memberId]="member?.id"></app-member-groups>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon svgIcon="checkbox-multiple-marked-outline" aria-hidden="true"></mat-icon>
        </ng-template>
        <div
          class="member-profile__coming-soon"
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="8px"
        >
          <mat-icon
            svgIcon="airballoon"
            aria-hidden="true"
            fxLayoutAlign="center center"
          ></mat-icon>
          <h4>Uskoro više...</h4>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div> -->
</article>
