<div class="member-profile__container" fxLayout="column" fxLayoutAlign="start stretch">
  <app-subheader [backButtonLink]="'/members'" [showOptions]="true" (options)="optionsAction($event)"></app-subheader>
  <div class="member-profile__content mat-elevation-z8" fxLayout="column" fxLayoutAlign="space-between stretch"
    fxLayoutGap="24px">
    <div class="member-profile__content-wrapper" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="8px">
      <div class="member-profile__header" fxLayout="row" fxLayoutAlign="start center">
        <div class="member-profile__header-photo">
          <div class="member-profile__header-initials mat-elevation-z2" fxLayoutAlign="center center"
            [style.background-image]="!!member?.photoURL ? 'url(' + member?.photoURL + ')' : 'none'">
            <span *ngIf="!member?.photoURL">{{(member?.firstName | firstLetter) + (member?.lastName | firstLetter)}}</span>
          </div>
        </div>
        <div class="member-profile__header-info" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="4px">
          <div class="member-profile__header-full-name">
            <span>{{member?.firstName + ' ' + member?.lastName}}</span>
          </div>
          <div class="member-profile__header-age">
            <span>{{member?.birthdate | age}}</span>
          </div>
        </div>
      </div>
    </div>
    <mat-tab-group dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon svgIcon="information-outline" aria-hidden="true"></mat-icon>
        </ng-template>
        <app-member-info *ngIf="!!member" [member]="member"></app-member-info>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon svgIcon="account-group" aria-hidden="true"></mat-icon>
        </ng-template>
        <div class="member-profile__coming-soon" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
          <mat-icon svgIcon="airballoon" aria-hidden="true" fxLayoutAlign="center center"></mat-icon>
          <h4>Uskoro više...</h4>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon svgIcon="checkbox-multiple-marked-outline" aria-hidden="true"></mat-icon>
        </ng-template>
        <div class="member-profile__coming-soon" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
          <mat-icon svgIcon="airballoon" aria-hidden="true" fxLayoutAlign="center center"></mat-icon>
          <h4>Uskoro više...</h4>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
