<mat-horizontal-stepper linear #stepper="matHorizontalStepper">
  <mat-step [stepControl]="projectForm">
    <form [formGroup]="projectForm">
      <ng-template matStepLabel>Project</ng-template>

      <div class="modal-form__container">
        <mat-form-field floatLabel="always" fxFlexFill class="modal-form__input">
          <input matInput placeholder="Project Name" formControlName="name" required maxlength="20">
          <mat-hint align="end">{{projectName.value?.length || 0}}/20</mat-hint>
          <mat-error *ngIf="projectName.invalid">{{getProjectErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div fxLayoutAlign="end center" class="modal-form__actions">
        <button mat-raised-button matStepperNext color="primary" [disabled]="projectForm.invalid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="categoryForm">
    <form [formGroup]="categoryForm">
      <ng-template matStepLabel>Categories</ng-template>

      <div class="modal-form__container">
        <div formArrayName="categories" *ngFor="let item of categoryArray.controls; let i=index">
          <mat-form-field floatLabel="always" fxFlexFill class="modal-form__input" [formGroup]="item">
            <input matInput placeholder="Category Name" formControlName="name" required maxlength="20">
            <mat-hint align="end">{{categoryArray.controls[i].controls['name'].value?.length || 0}}/20</mat-hint>
            <mat-error *ngIf="categoryArray.controls[i].controls['name'].invalid">
              {{getCategoryErrorMessage(categoryArray.controls[i].controls['name'])}}
            </mat-error>
            <button mat-icon-button matSuffix color="accent" (click)="setFavouriteCategory(categoryArray.controls[i].controls['isFavourite'])"
              title="Set Favourite Category">
              <mat-icon>
                {{ categoryArray.controls[i].controls['isFavourite'].value === true ? 'star' : 'star_border' }}
              </mat-icon>
            </button>
            <button mat-icon-button matSuffix (click)="categoryArray.removeAt(i)" color="warn" title="Remove Category" [disabled]="categoryArray.controls.length <= 1">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout.xs="column" fxLayoutAlign="space-between center">
        <div class="modal-form__actions">
          <button mat-button color="primary" (click)="categoryArray.push(categoryGroupName())">Add Category</button>
        </div>
        <div class="modal-form__actions">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext color="primary" [disabled]="projectForm.invalid || categoryForm.invalid" (click)="onSubmitForms()">Finish</button>
        </div>
      </div>
    </form>
  </mat-step>
  <!-- <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step> -->
</mat-horizontal-stepper>
