@import '~_variables.scss';

.dialog_container mat-dialog-content {
  overflow: hidden;
}

.modal-form {
  &__container {
    padding: 16px 0 8px;
  }

  &__input {
    padding-bottom: 8px;
    mat-icon.mat-icon {
      @include mat-icon-size(20px);
    }
  }

  &__actions {
    margin: 4px 0;
    text-align: center;
    & > button[mat-button] {
      margin-right: 8px;
    }
  }

  &__tag {
    min-height: 18px;
    padding: 0px 0px 16px;

    &-name {
      font-size: 0.9em;
      color: color(subtitle);
    }

    &-no-name {
      font-size: 0.9em;
      color: color(light-dark);
    }

    & mat-icon.mat-icon {
      @include mat-icon-size(20px);
      color: color(light-dark);
    }

    &-info {
      position: relative;
      height: 0;
      border-radius: 4px;
      border: 1px solid #ccc;
      background-color: #f8f8f8;
      transition: all 0.3s ease-out;
      opacity: 0;
      visibility: hidden;

      &.opened {
        height: 66px;
        opacity: 1;
        visibility: visible;
      }

      &::after {
        content: '';
        position: absolute;
        top: -5px;
        right: 3px;
        width: 8px;
        height: 8px;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-bottom-style: none;
        border-right-style: none;
      }

      & > p {
        margin: 12px;
        font-size: 0.8em;
        color: color(subtitle);
        line-height: 14px;
      }
    }
  }
}
