<div class="applicant-list__container" fxFlexFill>
  <app-subheader [title]="'Upisi'" [subtitle]="'Ukupno: ' + (applicants | async)?.length" (limit)="setLimit($event)" (sortChange)="setSort($event)"></app-subheader>
  <div class="applicant-list__content" fxLayoutAlign="center center">
    <div class="applicant-list__table" fxFlex="100%" fxLayout="column">
      <div class="applicant-list__row header" fxFlex="100%" fxLayoutAlign="space-between center">
        <div class="applicant-list__cell" fxFlex="50%" fxFlex.xs="75%">
          <p class="applicant-list__cell-title header">Ime i Prezime</p>
        </div>
        <div class="applicant-list__cell" fxFlex="25%" fxHide.xs>
          <p class="applicant-list__cell-title header">Kontakt</p>
        </div>
        <div class="applicant-list__cell" fxFlex="25%">
          <p class="applicant-list__cell-title header accepted">Član</p>
        </div>
      </div>
      <a mat-button [routerLink]="[applicant?.id]" *ngFor="let applicant of (applicants | async); let i=index" class="applicant-list__item">
        <div class="applicant-list__row" fxFlex="100%" fxLayoutAlign="space-between center">
          <div class="applicant-list__cell" fxFlex="50%" fxFlex.xs="75%" fxLayoutAlign="space-between center">
            <div fxLayoutAlign="start center" [fxFlex]="!!applicant?.message ? '80%' : '100%'">
              <div class="applicant-list__initials" fxLayoutAlign="center center">
                <span>{{ (applicant?.firstName | firstLetter) + (applicant?.lastName | firstLetter) }}</span>
              </div>
              <div class="applicant-list__data" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="4px">
                <span class="applicant-list__data-name">{{ applicant?.firstName + ' ' + applicant?.lastName }}</span>
                <small class="applicant-list__data-years">{{ applicant?.birthdate | age }}</small>
              </div>
            </div>
            <div *ngIf="!!applicant?.message" class="applicant-list__message" fxLayoutAlign="center center" fxFlex="20%">
              <mat-icon>message</mat-icon>
            </div>
          </div>
          <div class="applicant-list__cell" fxFlex="25%" fxHide.xs>
            <p class="applicant-list__cell-title">{{ applicant?.phoneNumber }}</p>
          </div>
          <div class="applicant-list__cell" fxFlex="25%" fxLayoutAlign="center center">
            <div class="applicant-list__accepted"></div>
          </div>
        </div>
      </a>
      <div *ngIf="!(applicants | async)" class="applicant-list__empty-list">
        <p>Nema podataka</p>
      </div>
    </div>
  </div>
</div>
