<div class="applicant-list__container">
  <app-subheader [title]="'Upisi'" [subtitle]="'Ukupno: ' + (applicants | async)?.length" [showSort]="true"
    (sortChange)="setSort($event)"></app-subheader>
  <div class="applicant-list__content" fxLayoutAlign="center center">
    <div class="applicant-list__table mat-elevation-z8" fxFlex="100%" fxLayout="column">
      <div class="applicant-list__row header" fxFlex="100%" fxLayoutAlign="space-between center">
        <div class="applicant-list__cell" fxFlex="50%" fxFlex.xs="75%">
          <p class="applicant-list__cell-title header">Ime i Prezime</p>
        </div>
        <div class="applicant-list__cell" fxFlex="25%" fxHide.xs>
          <p class="applicant-list__cell-title header">Kontakt</p>
        </div>
        <div class="applicant-list__cell" fxFlex="25%">
          <p class="applicant-list__cell-title header accepted">Član</p>
        </div>
      </div>
      <div class="applicant-list__search" fxLayoutAlign="start center">
        <input fxFlex="100%" type="search" class="applicant-list__search-input" placeholder="Pretraži upise..."
          [(ngModel)]="searchText" autocomplete="off">
        <button *ngIf="!!searchText" mat-icon-button class="applicant-list__search-clear" (click)="searchText=''">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <a mat-button [routerLink]="[applicant?.id]" *ngFor="let applicant of (applicants | async) | search:searchText:searchKeys"
        class="applicant-list__item">
        <div class="applicant-list__row" fxFlex="100%" fxLayoutAlign="space-between center">
          <div class="applicant-list__cell" fxFlex="50%" fxFlex.xs="75%" fxLayoutAlign="space-between center">
            <div fxLayoutAlign="start center" [fxFlex]="!!applicant?.message ? '80%' : '100%'">
              <div class="applicant-list__initials" fxLayoutAlign="center center">
                <span>{{ (applicant?.firstName | firstLetter) + (applicant?.lastName | firstLetter) }}</span>
              </div>
              <div class="applicant-list__data" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="4px">
                <span class="applicant-list__data-name">{{ applicant?.firstName + ' ' + applicant?.lastName }}</span>
                <small class="applicant-list__data-years">{{ applicant?.birthdate | age }}</small>
              </div>
            </div>
            <div *ngIf="!!applicant?.message" class="applicant-list__message" fxLayoutAlign="center center" fxFlex="20%">
              <mat-icon>message</mat-icon>
            </div>
          </div>
          <div class="applicant-list__cell" fxFlex="25%" fxHide.xs>
            <p class="applicant-list__cell-title">{{ applicant?.phoneNumber }}</p>
          </div>
          <div class="applicant-list__cell" fxFlex="25%" fxLayoutAlign="center center">
            <div class="applicant-list__member" [ngClass]="{'positive': !!applicant?.isMember}"></div>
          </div>
        </div>
      </a>
      <div *ngIf="!(applicants | async) || (applicants | async)?.length === 0" class="applicant-list__empty-list">
        <p>Nema podataka</p>
      </div>
    </div>
  </div>
</div>
