<div class="menu-header" fxFlex="25%">
  <div class="menu-actions" fxLayoutAlign="end center">
    <button mat-icon-button>
      <mat-icon>compare_arrows</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <!-- <mat-icon fontSet="fa" fontIcon="fa-exchange"></mat-icon>
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon> -->
  </div>
</div>
<mat-list class="nav-list" fxFlex="70%">
  <a mat-list-item [routerLink]="'/'" [routerLinkActive]="'active'">
    <mat-icon mat-list-icon>home</mat-icon>
    <h4 mat-line>Dashboard</h4>
  </a>
  <a mat-list-item [routerLink]="'/users'" [routerLinkActive]="'active'">
    <mat-icon mat-list-icon>people</mat-icon>
    <h4 mat-line>People</h4>
  </a>
  <a mat-list-item [routerLink]="'/groups'" [routerLinkActive]="'active'">
    <mat-icon mat-list-icon>group_work</mat-icon>
    <h4 mat-line>Groups</h4>
    <button mat-icon-button mat-list-option (click)="isGroupOpened = !isGroupOpened;">
      <mat-icon>{{!isGroupOpened ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</mat-icon>
    </button>
  </a>
  <mat-list [ngClass]="{'opened': isGroupOpened}" class="group-list">
    <mat-list-item>Group 1</mat-list-item>
    <mat-list-item>Group 2</mat-list-item>
  </mat-list>
  <a mat-list-item [routerLink]="'/activities'" [routerLinkActive]="'active'">
    <mat-icon mat-list-icon>assessment</mat-icon>
    <h4 mat-line>Activities</h4>
  </a>
  <a mat-list-item [routerLink]="'/statistics'" [routerLinkActive]="'active'">
    <mat-icon mat-list-icon>trending_up</mat-icon>
    <h4 mat-line>Statistics</h4>
  </a>
</mat-list>
