@import '../../../_variables.scss';

@mixin md-icon-size($size: 24px) {
  font-size: $size !important;
  height: $size !important;
  width: $size !important;
  line-height: $size;
}

.auth {
  &__container {
    overflow-y: auto;
    background: linear-gradient(
      to bottom,
      rgba($color: color(red-primary), $alpha: 0.9) 0,
      rgba($color: color(red-primary), $alpha: 0.8) 25%,
      rgba($color: color(red-primary), $alpha: 0.7) 50%,
      rgba($color: color(red-primary), $alpha: 0.6) 75%,
      rgba($color: color(red-primary), $alpha: 0.5) 100%
    );
  }
  &__bg-image {
    background: url('/assets/images/gtk.jpg') left center no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__wrapper {
    min-height: 100%;
  }
  &__logo {
    padding: 12px 0;
    & > img {
      height: 50px;
    }
  }
  &__content {
    padding: 0 16px 12px;
    margin: auto;
    width: 100%;
  }
  &__card {
    border-radius: 20px;
    &__content {
      margin-bottom: 0;
    }
  }
  &__title {
    margin-bottom: 24px;
    &-text {
      color: color(text-08);
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      margin-bottom: 12px;
    }
    &-underline {
      height: 2px;
      width: 50px;
      background-color: color(red-primary);
      display: block;
      margin: 0 auto;
      border-radius: 1px;
    }
  }
  &__rights {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
  }
  &__form {
    &__input {
      font-size: 18px;
      color: #333;
    }
    &__container {
      padding: 16px;
    }
    &__icon-button {
      width: 30px;
      height: 30px;
      &:not(:disabled) mat-icon.mat-icon {
        color: color(text-08) !important;
      }
    }
    &__icon.mat-icon {
      @include md-icon-size(28px);
      margin-left: -4px;
      padding: 4px;
      color: color(text-05);
      text-align: center;
    }
    &__submit-button {
      color: rgba(0, 0, 0, 0.26);
      margin: 12px 0;
      font-size: 18px;
      line-height: 1.8em;
      padding: 8px;
      border-radius: 24px;
      background-color: rgba(0, 0, 0, 0.12);
      box-shadow: none;
      transition: all 0.3s;
      &:not(:disabled).valid {
        color: white;
        background-color: color(red-primary);
        box-shadow: 0 5px 5px -3px rgba($color: color(red-primary), $alpha: 0.14),
          0 8px 10px 1px rgba($color: color(red-primary), $alpha: 0.14),
          0 3px 14px 2px rgba($color: color(red-primary), $alpha: 0.12);
      }
    }
    &__actions {
      color: color(text);
      font-size: 0.8em;
      text-align: center;
      margin-bottom: 8px !important;
      & > a {
        cursor: pointer;
        color: color(red-primary);
        text-decoration: none;
        padding-left: 6px;
      }
    }
    &__error_message {
      height: 0;
      opacity: 0;
      overflow: hidden;
      border-radius: 4px;
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
      margin: 0;
      padding: 0;
      transition: all 0.5s ease;
      mat-icon {
        padding-right: 8px;
      }
    }
    &__error_message.showError {
      height: 36px;
      opacity: 1;
      margin: 4px 0;
      padding: 6px 12px;
    }
  }
  &__email-confirm {
    &__content {
      padding: 0 16px;
    }
    &__text {
      line-height: 1.4em;
      color: color(text);
    }
    &__icon {
      @include md-icon-size(80px);
      padding: 20px 0;
      color: color(red-primary);
      &-box {
        text-align: center;
      }
    }
  }
}
