// --------------------------------------------------------
//    AVATAR COMPONENT - stylings for <avatar> component
// --------------------------------------------------------
.#{$c}avatar {
  @include border(1px solid border-color(light));
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.#{$c}avatar--image {
  background: theme-color(primary) center center no-repeat;
  background-size: contain;
}

.#{$c}avatar--initials {
  @include font(normal, light, light, 1.5);
  background-color: theme-color(primary);
}
