// -----------------------------------------------------------------
//    BOTTOM NAV COMPONENT - stylings for mobile bottom navigation
// -----------------------------------------------------------------
.#{$c}bottom-nav {
  @include unselectable;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: theme-color(primary);
  overflow: hidden;
}

.#{$c}bottom-nav__wrapper {
  justify-content: space-between;
}

.#{$c}bottom-nav__link {
  @include spacing(padding, 2x 0);
  @include transition(background-color, opacity);
  color: font-color(light);
  opacity: 0.5;
  background-color: transparent;
  height: 100%;
  width: 20%;

  &-text {
    @include transition(height, visibility, opacity);
    color: font-color(lighter);
    height: 0;
    visibility: hidden;
    opacity: 0;
  }
}

.#{$c}bottom-nav__link--active {
  opacity: 1;
  background-color: rgba(theme-color(dark), 0.06);

  .#{$c}bottom-nav__link-text {
    height: auto;
    visibility: visible;
    opacity: 1;
  }
}
