// ------------------------------------------------------------------
//    MODAL PAGE COMPONENT - stylings for '<modal-page>' component
// ------------------------------------------------------------------
.#{$c}modal-page {
  @include flex-box(column, center, center);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: z-index(4);

  // Backdrop stylings
  &::before {
    @include pseudo();
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
  }
}

.#{$c}modal-page__wrapper {
  @include flex-box($direction: column, $gsb: 1);
  background-color: theme-color(background);
  position: relative;
}

.#{$c}modal-page__header {
  @include flex-box($align: center);
  @include spacing(padding, 3x 4x);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  color: font-color(light);
  background-color: theme-color(secondary);
}

.#{$c}modal-page__icon {
  @include mat-icon(spacing-name(5x));
  color: font-color(lighter);
}

.#{$c}modal-page__title {
  @include font($size: large, $color: light);
  @include spacing(padding, 0 4x);
  flex-grow: 1;
}

.#{$c}modal-page__content {
  @include flex-box($direction: column);
  height: calc(100vh - 110px);
  margin-top: 50px;
  margin-bottom: 60px;
  overflow-y: auto;
}

.#{$c}modal-page__footer {
  @include box-shadow();
  @include spacing(padding, 3x 4x);
  @include flex-box();
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: theme-color(light);
  -webkit-backface-visibility: hidden;

  .#{$o}button:first-of-type {
    @include spacing(margin, 2x, right);
  }

  .#{$o}button:last-of-type {
    @include spacing(margin, 2x, left);
  }
}
