// -------------------------------------------------------
//    SIDE NAV COMPONENT - stylings for side navigation
// -------------------------------------------------------
.#{$c}side-nav {
  @include border(1px solid border-color(light), right);
  height: 100vh;
  overflow: hidden;
}

.#{$c}side-nav__header {
  @include border(1px solid border-color(light), bottom);
}

.#{$c}side-nav__user {
  overflow: hidden;
}

.#{$c}side-nav__link {
  @include border(1px solid border-color(light), bottom);
  @include spacing(padding, 0 2x);
  @include transition(background-color);
  height: 50px;
  cursor: pointer;

  &:not(&--active):hover {
    background-color: rgba(theme-color(black), 0.03);
  }

  &::before {
    @include pseudo;
    @include transition(width);
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
  }

  &--active {
    position: relative;
    background-color: rgba(theme-color(black), 0.06);

    &::before {
      @include pseudo;
      width: 3px;
      background-color: theme-color(primary);
    }
  }

  &-icon {
    height: 100%;
  }

  &-text {
    @include spacing(padding, 3x);
    height: 100%;
  }
}
