// ----------------------------------------------------------------------
//    TOP NAVIGATION COMPONENT - stylings for top navigation component
// ----------------------------------------------------------------------
.#{$c}top-nav {
  @include border(1px solid border-color(light), bottom);
  @include unselectable;
  background-color: theme-color(light);
  height: 68px;
}

.#{$c}top-nav__wrapper {
  @include spacing(padding, 2x 4x);
  justify-content: space-between !important;
  height: 100%;
}

.#{$c}top-nav__text {
  width: 0;
}
