// --------------------------------------------------
//    INPUT - default stylings for <input> element
// --------------------------------------------------
input,
textarea {
  @include border();
  @include transition(border);
  @include placeholder {
    opacity: 0.3;
  }
  background-color: theme-color(light);

  &:focus {
    @include border(1px solid border-color(strong));
    outline: none;
  }
}

input[type='search'] {
  /* clears the 'X' from Internet Explorer */
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the 'X' from Chrome */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
    display: none;
  }
}
