<div class="users__container" fxFlex="100%" fxFlexFill>
  <app-subheader></app-subheader>
  <div style="display: none;" class="table-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <!-- Full Name Column -->
      <ng-container matColumnDef="displayName">
        <mat-header-cell *matHeaderCellDef>Ime i prezime</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.displayName}} </mat-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
      </ng-container>

      <!-- Phone Number Column -->
      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.phoneNumber}} </mat-cell>
      </ng-container>

      <!-- Action Button Column -->
      <ng-container matColumnDef="actionButton">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let user">
          <button mat-button color="primary">View</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
      <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"
              matRipple
              class="element-row"
              [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl"
              (toggleChange)="onToggleChange($event)">
        </mat-row> -->
    </mat-table>

    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>

<ng-template #tpl let-element>
  <div class="mat-row" [@detailExpand] style="overflow: hidden">
    <!-- The user is: <br> -->
    <pre>{{element | json}}</pre>
  </div>
</ng-template>
