<section class="c-modal-page__wrapper">
  <header class="c-modal-page__header">
    <mat-icon (click)="onClose()" class="c-modal-page__icon">close</mat-icon>
    <span class="c-modal-page__title">{{ heading }}</span>
    <button class="o-button o-button--trans">
      <span (click)="onSave()" class="o-button__text o-button__text--uppercase">Spremi</span>
    </button>
  </header>

  <div class="c-modal-page__content">
    <ng-content #form></ng-content>
  </div>

  <footer class="c-modal-page__footer">
    <button (click)="onClose()" class="o-button o-button--large o-button--outline u-flex-1">
      <span class="o-button__text">Odustani</span>
    </button>
    <button (click)="onSave()" class="o-button o-button--large o-button--inverse u-flex-1">
      <span class="o-button__text">{{ action }}</span>
    </button>
  </footer>
</section>
