@import '~_variables.scss';

:host {
  display: flex;
}

.modal {
  &__header {
    background-color: color(red-primary);
    padding: 8px;
  }
  &__title {
    color: white;
    margin: 0.5em 0;
    font-size: 20px;
    font-weight: 500;
    padding-left: 12px;
  }
  &__cancel-icon {
    color: rgba(255, 255, 255, 0.5);
    padding: 12px;
    margin-bottom: -2px;
    cursor: pointer;
  }
  &__content {
    padding: 12px 20px;
    margin: 0;
  }
  &__message {
    color: #333;
    & > p {
      margin: 0;
      margin-top: 8px;
    }
  }
  &__action {
    margin-bottom: 0;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8px;
    &-button {
      background-color: transparent;
      border: none;
      font-size: 16px;
      padding: 8px 16px;
      color: rgba($color: #333333, $alpha: 0.9);
      cursor: pointer;
      font-weight: 600;
      transition: background-color 0.3s;

      &:focus {
        outline: none;
      }
      &:first-child:hover {
        background-color: rgba($color: #333333, $alpha: 0.05);
      }
      &:last-child {
        color: color(red-primary);
        margin-left: 0px;
        &:hover {
          background-color: rgba($color: color(red-primary), $alpha: 0.2);
        }
      }
    }
  }
}
