$theme-colors: (
  light: #f8f8f8,
  primary: #4e83c6,
  success: #4da273,
  success-05: rgba(29, 185, 84, 0.5),
  warning: #ca923b,
  danger: #f44336,
  dark: #1f2432,
  subtitle: rgba(0, 0, 0, 0.55),
  blue-accent: #2fa2d0,
  light-accent: #baae6d,
  light-dark: rgba(31, 36, 50, 0.5),
  red-primary: #ee3b3b,
  text: #333,
  text-08: rgba(51, 51, 51, 0.8),
  text-05: rgba(51, 51, 51, 0.5)
);

@function color($key) {
  @if map-has-key($theme-colors, $key) {
    @return map-get($theme-colors, $key);
  }

  @warn "Unknown `#{$key}` in $theme-colors.";
  @return null;
}

@mixin mat-icon-size($size: 24px) {
  font-size: $size !important;
  height: $size !important;
  width: $size !important;
  line-height: $size !important;
}
