$theme-colors: (
  light: #f8f8f8,
  primary: #4e83c6,
  success: #4da273,
  success-08: rgba(29, 185, 84, 0.8),
  success-05: rgba(29, 185, 84, 0.5),
  warning: #ca923b,
  danger: #f44336,
  dark: #1f2432,
  subtitle: rgba(0, 0, 0, 0.55),
  blue-accent: #2fa2d0,
  light-accent: #baae6d,
  light-dark: rgba(31, 36, 50, 0.5),
  red-primary: #ee3b3b,
  text: #333,
  text-08: rgba(51, 51, 51, 0.8),
  text-05: rgba(51, 51, 51, 0.5)
);

@function color($key) {
  @if map-has-key($theme-colors, $key) {
    @return map-get($theme-colors, $key);
  }

  @warn "Unknown `#{$key}` in $theme-colors.";
  @return null;
}

@mixin mat-icon-size($size: 24px) {
  font-size: $size !important;
  height: $size !important;
  width: $size !important;
  line-height: $size !important;
}

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
  overflow: hidden;
  white-space: pre-line;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  /* margin-right: -1em;
  padding-right: 1em; */
  &:before {
    content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $bgColor;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}
