/* You can add global styles to this file, and also import other style files */
@import './_variables.scss';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
$fa-font-path: '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
button.mat-menu-item {
  line-height: 24px !important;
}
a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}
.mat-icon svg {
  height: 24px;
  width: 24px;
}
/* .modal-dialog > mat-dialog-container {
  padding: 8px;
  max-height: 90vh;
  overflow-y: auto;
} */
mat-step-header.mat-step-header {
  padding: 0 16px;
  & + .mat-stepper-horizontal-line {
    margin: 0 -8px;
    min-width: 24px;
  }
}
mat-horizontal-stepper > .mat-horizontal-content-container {
  padding: 0 16px 16px 16px;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  -webkit-text-fill-color: color(text-08);
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}
mat-select .mat-select-value {
  color: color(text-08);
}
mat-tab-group .mat-tab-labels {
  justify-content: space-evenly;
  align-items: center;
  & .mat-tab-label {
    width: 100%;
  }
}

.mat-form-field.ng-touched.ng-dirty.ng-valid {
  & .mat-form-field-underline {
    background-color: color(success-05) !important;
    height: 2px;
  }
  & mat-icon {
    color: color(success-05);
  }
}
