<section *ngIf="members$ | async as members" class="o-section">
  <!-- <app-subheader
    [title]="'Članovi'"
    [subtitle]="'Ukupno: ' + (members$ | async)?.length"
    [showSort]="true"
    [actionText]="'Novi član'"
    [actionIcon]="'add'"
    (action)="navigateToForm()"
    (sortChange)="setSort($event)"
  ></app-subheader> -->
  <app-header-basic
    *ngIf="members.length"
    [title]="'Članovi'"
    [subtitle]="'Ukupno: ' + members?.length"
    [showSearch]="true"
    (searchChange)="onSearchChange($event)"
    class="c-header-basic"
  ></app-header-basic>

  <article class="o-section__content u-padding-top--1x u-over-y-auto">
    <table class="o-table">
      <tr
        *ngFor="let member of members | search: searchText:searchKeys"
        (click)="navigateToProfile(member?.id)"
        class="o-table__row"
      >
        <td class="o-table__cell">
          <app-avatar
            [text]="member?.firstName + ' ' + member?.lastName"
            [avatarUrl]="member?.photoURL"
            class="c-avatar"
          ></app-avatar>
        </td>

        <td class="o-table__cell o-table__cell--contain o-table__cell--separate">
          <span class="u-text--truncate">{{ member?.firstName + ' ' + member?.lastName }}</span>
        </td>
        <!-- <div class="member-list__row" fxFlex="100%" fxLayoutAlign="space-between center">
          <div
            class="member-list__cell"
            fxFlex="50%"
            fxFlex.xs="75%"
            fxLayoutAlign="space-between center"
          >
            <div fxLayoutAlign="start center" [fxFlex]="!!member?.message ? '80%' : '100%'">
              <div
                class="member-list__initials"
                fxLayoutAlign="center center"
                [style.background-image]="
                  !!member?.photoURL ? 'url(' + member?.photoURL + ')' : 'none'
                "
              >
                <span *ngIf="!member?.photoURL">{{
                  (member?.firstName | firstLetter) + (member?.lastName | firstLetter)
                }}</span>
              </div>
              <div
                class="member-list__data"
                fxLayout="column"
                fxLayoutAlign="start stretch"
                fxLayoutGap="4px"
              >
                <span class="member-list__data-name">{{
                  member?.firstName + ' ' + member?.lastName
                }}</span>
                <small class="member-list__data-years">{{ member?.birthdate | age }}</small>
              </div>
            </div>
            <div
              *ngIf="!!member?.message"
              class="member-list__message"
              fxLayoutAlign="center center"
              fxFlex="20%"
            >
              <mat-icon>message</mat-icon>
            </div>
          </div>
          <div class="member-list__cell" fxFlex="25%" fxHide.xs>
            <p class="member-list__cell-title">{{ member?.phoneNumber }}</p>
          </div>
          <div class="member-list__cell groups" fxFlex="25%" fxLayoutAlign="start center">
            <div
              *ngFor="let group of member?.groups"
              class="member-list__groups"
              [ngStyle]="{ 'background-color': group?.color }"
            ></div>
          </div>
        </div> -->
      </tr>
      <tr *ngIf="!members || members?.length === 0" class="member-list__empty-list">
        <p>Nema podataka</p>
      </tr>
    </table>
  </article>
</section>
