@import '~_variables.scss';
.menu-header {
  background: map-get($theme-colors, light-accent);
  position: relative;
  min-height: 100px;
}
.menu-actions {
  color: white;
  padding: 4px;

  mat-icon.mat-icon {
    @include mat-icon-size(20px);
  }
  span {
    font-size: 0.7em;
    font-weight: normal;
    padding-left: 2px;
  }
}
.more-actions {
  mat-icon.mat-icon {
    @include mat-icon-size(26px);
  }
}
.category-box {
  padding: 0 4px 0 16px;
  & > h3 {
    font-weight: 500;
    margin: 0;
    color: white;
    font-size: 1.2em;
  }
  & mat-icon {
    @include mat-icon-size(20px);
    color: white;
  }
}
.menu-icon-button {
  padding: 0 4px;
}

mat-nav-list.nav-list {
  & > a {
    text-decoration: none;
    border-left: 0px solid map-get($theme-colors, light-accent);
    transition: border-left-width 0.3s ease-in-out;
    &.active {
      border-left-width: 4px;
    }
  }
}

mat-list.group-list {
  padding: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;

  & > mat-list-item {
    height: 36px;
    & span {
      padding-left: 48px;
    }
  }
}
