@import '~_variables.scss';
.menu-header {
  background: map-get($theme-colors, light-accent);
  position: relative;
  min-height: 100px;
}
.menu-actions {
  color: white;
  padding: 4px;

  mat-icon.mat-icon {
    @include mat-icon-size(20px);
  }
  span {
    font-size: 0.7em;
    font-weight: normal;
    padding-left: 2px;
  }
}
.more-actions {
  mat-icon.mat-icon {
    @include mat-icon-size(26px);
  }
}
.project-box {
  padding: 0 4px 0 16px;
  &__name, &__mat-input input.mat-input-element {
    font-weight: 500;
    margin: 0;
    color: white;
    font-size: 20px;
  }
  ::ng-deep &__mat-input {
    & .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    & .mat-form-field-infix {
      border-top: none;
      width: auto;
    }
    & .mat-input-underline {
      bottom: 2px;
    }
  }
  & mat-icon {
    @include mat-icon-size(20px);
    color: white;
  }
}
.menu-icon-button {
  padding: 0 4px;
}

mat-nav-list.nav-list {
  & > a.nav-item {
    text-decoration: none;
    border-left: 0px solid map-get($theme-colors, light-accent);
    transition: all 0.3s ease-in-out;
    &.active {
      border-left-width: 4px;
    }
  }
}

mat-list.group-list {
  padding: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;

  & > mat-list-item {
    height: 36px;
    & span {
      padding-left: 48px;
    }
  }
}

.no-project {
  margin: 0 16px;
  &__button {
    width: 100%;
  }
}

.opened-nav-icon {
  align-self: flex-start;
  padding-top: 12px  !important;
}

.opened-nav-button {
  align-self: flex-start;
  margin-top: 4px  !important;
}
