@import '~_variables.scss';
.menu-header {
  background: map-get($theme-colors, light-accent);
  position: relative;
  min-height: 100px;
}
.menu-actions {
  color: white;
  padding: 4px;

  mat-icon.mat-icon {
    @include mat-icon-size(20px);
  }
  span {
    font-size: 0.7em;
    font-weight: normal;
    padding-left: 2px;
  }
}
.more-actions {
  mat-icon.mat-icon {
    @include mat-icon-size(26px);
  }
}
.project-box {
  padding: 0 4px 0 16px;
  &__name,
  &__mat-input input.mat-input-element {
    font-weight: 500;
    margin: 0;
    color: white;
    font-size: 20px;
  }
  ::ng-deep &__mat-input {
    & .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    & .mat-form-field-infix {
      border-top: none;
      width: auto;
    }
    & .mat-input-underline {
      bottom: 2px;
    }
  }
  & mat-icon {
    @include mat-icon-size(20px);
    color: white;
  }
}

.no-project {
  margin: 0 16px;
  &__button {
    width: 100%;
  }
}

.opened-nav-icon {
  align-self: flex-start;
  padding-top: 12px !important;
}

.opened-nav-button {
  align-self: flex-start;
  margin-top: 4px !important;
}

.side-navigation {
  &__container {
    background-color: map-get($theme-colors, red-primary);
  }
  &__list {
    padding-top: 0;
  }
  &__item {
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    border-left: 0px solid white;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: rgba($color: #000000, $alpha: 0.1);
    }
    &.active {
      border-left-width: 4px;
      background: rgba($color: #000000, $alpha: 0.1);
    }
  }
}

.side-navigation-header {
  &__container {
    padding: 36px;
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);
  }
  &__title {
    &-text {
      color: white;
      margin: 0;
    }
  }
  &__subtitle {
    &-text {
      color: rgba($color: #ffffff, $alpha: 0.8);
      margin: 0;
      font-size: 14px;
    }
  }
}
