<!-- <div
  class="member-info__container"
  fxFlex="100%"
  fxLayout="column"
  fxLayoutAlign="space-between stretch"
  fxLayoutGap="12px"
>
  <div
    *ngIf="!!member?.birthdate"
    class="member-info__item"
    fxLayoutAlign="space-between center"
  >
    <div
      class="member-info__item-text"
      fxLayout="column"
      fxLayoutAlign="start stretch"
    >
      <small>Rođenje</small>
      <span fxLayoutAlign="start center" fxLayoutGap="12px">{{
        member?.birthdate | date: 'dd.MM.yyyy.'
      }}</span>
    </div>
    <a class="member-info__item-action" mat-icon-button disabled>
      <mat-icon>cake</mat-icon>
    </a>
  </div>
  <div
    *ngIf="!!member?.gender"
    class="member-info__item"
    fxLayoutAlign="space-between center"
  >
    <div
      class="member-info__item-text"
      fxLayout="column"
      fxLayoutAlign="start stretch"
    >
      <small>Spol</small>
      <span fxLayoutAlign="start center" fxLayoutGap="12px">{{
        member?.gender === 'male' ? 'Muško' : 'Žensko'
      }}</span>
    </div>
    <a class="member-info__item-action" mat-icon-button disabled>
      <mat-icon
        [svgIcon]="member?.gender === 'male' ? 'gender-male' : 'gender-female'"
        aria-hidden="true"
      ></mat-icon>
    </a>
  </div>
  <div
    *ngIf="!!member?.parents"
    class="member-info__item"
    fxLayoutAlign="space-between center"
  >
    <div
      class="member-info__item-text"
      fxLayout="column"
      fxLayoutAlign="start stretch"
    >
      <small>Roditelji</small>
      <span fxLayoutAlign="start center" fxLayoutGap="12px">{{
        member?.parents
      }}</span>
    </div>
    <a class="member-info__item-action" mat-icon-button disabled>
      <mat-icon svgIcon="human-male-female" aria-hidden="true"></mat-icon>
    </a>
  </div>
  <div
    *ngIf="!!member?.phoneNumber"
    class="member-info__item"
    fxLayoutAlign="space-between center"
  >
    <div
      class="member-info__item-text"
      fxLayout="column"
      fxLayoutAlign="start stretch"
    >
      <small>Telefon</small>
      <span fxLayoutAlign="start center" fxLayoutGap="12px">{{
        member?.phoneNumber
      }}</span>
    </div>
    <a
      [href]="'tel:' + member?.phoneNumber"
      class="member-info__item-action"
      mat-icon-button
    >
      <mat-icon>phone</mat-icon>
    </a>
  </div>
  <div
    *ngIf="!!member?.email"
    class="member-info__item"
    fxLayoutAlign="space-between center"
  >
    <div
      class="member-info__item-text"
      fxLayout="column"
      fxLayoutAlign="start stretch"
    >
      <small>Email</small>
      <span fxLayoutAlign="start center" fxLayoutGap="12px">{{
        member?.email
      }}</span>
    </div>
    <a
      [href]="'mailto:' + member?.email"
      class="member-info__item-action"
      mat-icon-button
    >
      <mat-icon>email</mat-icon>
    </a>
  </div>
  <div
    *ngIf="!!member?.siblings && !!(siblings$ | async)"
    class="member-info__item"
    fxLayout="column"
    fxLayoutAlign="start stretch"
  >
    <div class="member-info_item-wrapper" fxLayoutAlign="space-between start">
      <div
        class="member-info__item-text"
        fxLayout="column"
        fxLayoutAlign="start stretch"
      >
        <small>Braća i sestre ({{ member?.siblings.length }})</small>
        <div class="member-info__siblings" fxLayoutGap="4px">
          <span *ngFor="let sibling of (getSiblingsData() | async)">{{
            sibling?.firstName
          }}</span>
        </div>
        <div
          class="member-info__siblings-more"
          fxLayoutAlign="start center"
          (click)="showSiblings = !showSiblings"
        >
          <span>{{ !showSiblings ? 'Prikaži' : 'Sakrij' }}</span>
          <mat-icon>{{
            !showSiblings ? 'keyboard_arrow_down' : 'keyboard_arrow_up'
          }}</mat-icon>
        </div>
      </div>
      <a class="member-info__item-action" mat-icon-button disabled>
        <mat-icon>face</mat-icon>
      </a>
    </div>
    <div
      [ngClass]="{ active: !!showSiblings }"
      class="member-info__siblings-list"
      fxLayout="column"
      fxLayoutAlign="start stretch"
    >
      <a
        mat-button
        class="member-info__siblings-item"
        *ngFor="let sibling of (getSiblingsData() | async)"
        (click)="goToSibling(sibling?.id)"
      >
        <div
          class="member-info_siblings-item-wrapper"
          fxLayoutAlign="space-between center"
        >
          <div class="member-info__siblings-data" fxLayoutAlign="start center">
            <div
              class="member-info__siblings-item-initials"
              fxLayoutAlign="center center"
            >
              <span>{{
                (sibling?.firstName | firstLetter) +
                  (sibling?.lastName | firstLetter)
              }}</span>
            </div>
            <div class="member-info__siblings-item-name">
              <span>{{ sibling?.firstName + ' ' + sibling?.lastName }}</span>
            </div>
          </div>
          <div
            class="member-info__siblings-item-action"
            fxLayoutAlign="center center"
          >
            <mat-icon>keyboard_arrow_right</mat-icon>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div
    *ngIf="!!member?.note"
    class="member-info__item"
    fxLayoutAlign="space-between start"
  >
    <div
      class="member-info__item-text"
      fxLayout="column"
      fxLayoutAlign="start stretch"
    >
      <small>Napomena</small>
      <span fxLayoutAlign="start center" fxLayoutGap="12px">{{
        member?.note
      }}</span>
    </div>
    <a class="member-info__item-action" mat-icon-button disabled>
      <mat-icon>announcement</mat-icon>
    </a>
  </div>
</div> -->

<table *ngIf="member" class="c-member-info__table">
  <tr *ngIf="member?.birthdate" class="c-member-info__row">
    <td class="c-member-info__cell c-member-info__cell--full">
      <label class="c-member-info__label">Rođenje</label>
      <span class="u-text-color--primary">{{ member.birthdate | date: 'dd.MM.yyyy.' }}</span>
    </td>
    <td class="o-icon__container u-padding--2x">
      <mat-icon class="o-icon">cake</mat-icon>
    </td>
  </tr>

  <tr *ngIf="member?.gender" class="c-member-info__row">
    <td class="c-member-info__cell c-member-info__cell--full">
      <label class="c-member-info__label">Spol</label>
      <span class="u-text-color--primary">{{ member.gender === 'male' ? 'Muško' : 'Žensko' }}</span>
    </td>
    <td class="o-icon__container u-padding--2x">
      <mat-icon
        [svgIcon]="member.gender === 'male' ? 'gender-male' : 'gender-female'"
        aria-hidden="true"
        class="o-icon"
      ></mat-icon>
    </td>
  </tr>

  <tr *ngIf="member?.parents" class="c-member-info__row">
    <td class="c-member-info__cell c-member-info__cell--full">
      <label class="c-member-info__label">Roditelji</label>
      <span class="u-text-color--primary">{{ member.parents }}</span>
    </td>
    <td class="o-icon__container u-padding--2x">
      <mat-icon class="o-icon" svgIcon="human-male-female" aria-hidden="true"></mat-icon>
    </td>
  </tr>

  <tr *ngIf="member?.phoneNumber" class="c-member-info__row">
    <td class="c-member-info__cell c-member-info__cell--full">
      <label class="c-member-info__label">Telefon</label>
      <span class="u-text-color--primary">{{ member.phoneNumber }}</span>
    </td>
    <td class="o-icon__container u-padding--2x">
      <a [href]="'tel:' + member.phoneNumber" class="u-flex-x-center">
        <mat-icon class="o-icon">phone</mat-icon>
      </a>
    </td>
  </tr>

  <tr *ngIf="member?.email" class="c-member-info__row">
    <td class="c-member-info__cell c-member-info__cell--full">
      <label class="c-member-info__label">Email</label>
      <span class="u-text-color--primary">{{ member.email }}</span>
    </td>
    <td class="o-icon__container u-padding--2x">
      <a [href]="'mailto:' + member.email" class="u-flex-x-center">
        <mat-icon class="o-icon">email</mat-icon>
      </a>
    </td>
  </tr>

  <tr *ngIf="member?.siblings" class="c-member-info__row">
    <td class="c-member-info__cell c-member-info__cell--full">
      <label class="c-member-info__label">Braća i sestre ({{ member.siblings.length }})</label>
      <span class="u-text-color--primary">Moja braća i sestre</span>
    </td>
    <td class="o-icon__container u-padding--2x">
      <mat-icon class="o-icon">face</mat-icon>
    </td>
  </tr>

  <tr *ngIf="member?.note" class="c-member-info__row">
    <td class="c-member-info__cell c-member-info__cell--full">
      <label class="c-member-info__label">Napomena</label>
      <span class="u-text-color--primary">{{ member.note }}</span>
    </td>
    <td class="o-icon__container u-padding--2x">
      <mat-icon class="o-icon">announcement</mat-icon>
    </td>
  </tr>
</table>
